<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="This website helps people in tracking warranty for various devices." content="">
        <meta name="Shreyas" content="">
        <title>Track-a-ranty</title>
        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" type="text/css">
        <!-- Plugin CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" type="text/css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/creative.css') }}" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- This page-scroll effect can be replaced by the home screen click -->
                    <a class="navbar-brand page-scroll" href="#page-top">Track-a-ranty</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>One stop to track your warranty</h1>
                    <hr>
                    <p>Free yourself from hassles of managing warranties for every device you use, just store them in one place, <b>Stay calm..!!</b></p>
                    <!-- Following button should bring up the Modal for Registration only -->
                    <a type='button' class="btn btn-primary btn-xl" data-toggle='modal' data-target='#loginregister'>Get Started</a>
                </div>
            </div>
        </header>
        <!-- We will add the modal for Login/Register in this place -->
        <!-- Login/Register tabbed pane modal -->
        <div class="modal fade" id="loginregister">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        This remains as a placeholder if we need to add something in the modal header at some later point of time
                    </div> -->
                    <div class="modal-body">
                        <!-- We need to insert a tabbed pane for login/register forms in this modal -->
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href='#login' aria-controls="login" role="tab" data-toggle="tab">Login</a>
                                </li>
                                <li role="presentation">
                                    <a href='#register' aria-controls="register" role="tab" data-toggle="tab">Register</a>
                                </li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="login">
                                    <hr>
                                    <!-- Create a form here to accept username and password -->
                                    <form action="/login" method='post' name='login_form'>

                                        <div class='row'>
                                            <div class='form-group col-md-12'>
                                                <label for="usrEmail" class='control-label'>Email</label>
                                                <input class='form-control'type="email" name="email" id="usremail" placeholder="Enter your address">
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='form-group col-md-12'>
                                                <label for="usrPasswd" class='control-label'>Password</label>
                                                <input class='form-control' type="password" name="passwd" id="usrpasswd" placeholder="Enter your password">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class='row'>
                                            <div class='col-sm-2'>
                                                <button type="submit" class="btn btn-primary">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="register">
                                    <hr>
                                    <!-- Create a form here to register a user with email and password -->
                                    <form action='register' method='post'>
                                        <div class='row'>
                                            <div class='form-group col-md-12'>
                                                <label for="usrEmail" class='control-label'>Email</label>
                                                <input class='form-control'type="email" name="email" id="usremail" placeholder="Enter your address">
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='form-group col-md-12'>
                                                <label for="usrPasswd" class='control-label'>Password</label>
                                                <input class='form-control' type="password" name="passwd" id="usrpasswd" placeholder="Enter your password">
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='form-group col-md-12'>
                                                <label for='confPasswd' class='control-label'>Confirm Password</label>
                                                <input class='form-control' type="password" name="cnfpasswd" id="confpasswd" placeholder="Confirm your password">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class='row'>
                                            <div class='col-sm-2'>
                                                <button type="submit" class="btn btn-primary">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2 text-center">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        <p>+91-982-022-4878</p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:shreyaspatil87@gmail.com">shreyaspatil87@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Plugin JavaScript -->
        <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ url_for('static', filename='js/creative.js') }}"></script>
    </body>
</html>
