<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Track-a-ranty</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <!-- Brand header for the website -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
						<b class='brand-text'>TRACK-A-RANTY</b>
					</a>
                </div>
                <!-- End of brand header for the website -->
                <!-- Add device button -->
                <div class='navbar-header'>
                    <form class='navbar-form'>
                        <a type="button" data-toggle='modal' data-target='#adddevice' class="btn btn-default">
							<i class="fa fa-plus"> Add a device</i>
						</a>
                    </form>
                </div>
                <!-- End of Add device button -->
                <!-- Buttons for Settings and Logging out a User -->
                <div class='nav navbar-nav navbar-inverse navbar-right'>
                    <form class='navbar-form' action='logout' method='post'>
                        <button type="submit" class="btn btn-danger">
							<span class="fa fa-sign-out"> Logout</span>
						</button>
                    </form>
                </div>
                <div class='nav navbar-nav navbar-right'>
                    <form class='navbar-form'>
                        <button type="button" class="btn btn-success" data-toggle='modal' data-target='#settings'>
							<span class="fa fa-gear"> Settings</span>
						</button>
                    </form>
                </div>
                <!-- End of drop-down -->
            </div>
        </nav>

        <!-- We would be adding the devices in tabbed panes for In-Warranty and Out-of-Warranty devices -->
        <!-- We have to add tables in each of tabbed panes for displaying the devices -->
        <div class='col-sm-offset-1 col-sm-10'>
            <hr>
            <h4><span class='label label-success'>In Warranty Devices</span></h4>
            {{ in_warranty_table }}
            <hr>
            <h4><span class='label label-danger'>Out of Warranty Devices</span></h4>
            {{ out_warranty_table }}
            <hr>
        </div>

        <!-- Modal to add new device -->
        <section>
            <div class='modal fade' id='adddevice'>
                <div class='modal-dialog modal-md'>
                    <div class='modal-content'>
                        <div class='modal-body'>
                            <form class='form-group' action='addnewdevice' method='post'>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Device Name</label>
                                        <input class='form-control' type="text" name="dvcName" placeholder="Enter name for your device">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Device Type</label>
                                        <input class='form-control' type="text" name="dvcType" placeholder="Enter device type (for e.g. Mobile, tablet, laptop etc.)">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Purchase date</label>
                                        <input class='form-control' type="date" name="dvcPurDate">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Warranty Period</label>
                                        <input class='form-control' type="text" name="dvcWarPeriod" placeholder="Please enter warranty period in months">
                                    </div>
                                </div>
                                <div>
                                    <button type='submit' class='btn btn-danger' id='btn_ok'>OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal to change password and edit settings -->
        <section>
            <div class='modal fade' id='settings'>
                <div class='modal-dialog modal-md'>
                    <div class='modal-content'>
                        <div class='modal-body'>
                            <form class='form-group' action='settings' method='post'>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>Current Password</label>
                                        <input class='form-control' type="password" name="oldPasswd" placeholder="Enter current password">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>New Password</label>
                                        <input class='form-control' type="password" name="newPasswd" placeholder="Enter new password">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>Confirm Password</label>
                                        <input class='form-control' type="password" name="confPasswd" placeholder="Confirm new password">
                                    </div>
                                </div>
                                <div>
                                    <button type='submit' class='btn btn-danger' id='btn_ok'>OK</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <!-- Latest compiled and minified CSS -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" media="screen" title="no title" charset="utf-8">
</html>
