<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Track-a-ranty</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-default">
            <div class="container-fluid">
                <!-- Brand header for the website -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><b>TRACK-A-RANTY</b></a>
                </div>
                <!-- End of brand header for the website -->
                <!-- Add device button -->
                <div class='navbar-header'>
                    <form class='navbar-form'>
                        <button type="button" data-toggle='modal' data-target='#adddevice' class="btn btn-warning">Add a device</button>
                    </form>
                </div>
                <!-- End of Add device button -->
                <!-- Buttons for Settings and Logging out a User -->
                <div class='nav navbar-nav navbar-right'>
                    <form class='navbar-form' action='logout' method='post'>
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
                <div class='nav navbar-nav navbar-right'>
                    <form class='navbar-form'>
                        <button type="submit" class="btn btn-warning" data-toggle='modal' data-target='#settings'>Settings</button>
                    </form>
                </div>
                <!-- End of drop-down -->
            </div>
        </nav>
        <!-- We would be adding the devices in tabbed panes for In-Warranty and Out-of-Warranty devices -->
        <!-- We have to add tables in each of tabbed panes for displaying the devices -->
        <div class='col-sm-offset-1 col-sm-10'>
            <ul class='nav nav-tabs' role='tablist'>
                <li role='presentation' class='active'><a href='#inwarr' aria-controls='inwarr' role='tab' data-toggle='tab'>In Warranty</a></li>
                <li role='presentation'><a href='#outofwarr' aria-controls='outofwarr' role='tab' data-toggle='tab'>Out of Warranty</a></li>
            </ul>
            <hr>
            <div class='tab-content'>
                <div role='tabpanel' class='tab-pane fade in active' id='inwarr'>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Device Name</th>
                                <th>Device Type</th>
                                <th>Purchase Date</th>
                                <th>Warranty Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role='tabpanel' class='tab-pane fade' id='outofwarr'>
                    <table class='table table-striped'>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Device Name</th>
                                <th>Device Type</th>
                                <th>Purchase Date</th>
                                <th>Warranty Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                            <tr>
                                <td>data-0</td>
                                <td>data-1</td>
                                <td>data-2</td>
                                <td>data-3</td>
                                <td>data-4</td>
                                <td><button type="button" class="btn btn-danger" data-toggle='modal' data-target='#deldevice'>Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>
        <!-- Modal to add new device -->
        <section>
            <div class='modal fade' id='adddevice'>
                <div class='modal-dialog modal-md'>
                    <div class='modal-content'>
                        <div class='modal-body'>
                            <form class='form-group' action='addnewdevice' method='post'>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Device Name</label>
                                        <input class='form-control' type="text" name="dvcName" placeholder="Enter name for your device">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Device Type</label>
                                        <input class='form-control' type="text" name="dvcType" placeholder="Enter device type (for e.g. Mobile, tablet, laptop etc.)">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Purchase date</label>
                                        <input class='form-control' type="date" name="dvcPurDate">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-10'>
                                        <label class='control-label'>Warranty Period</label>
                                        <input class='form-control' type="text" name="dvcWarPeriod" placeholder="Please enter warranty period in months">
                                    </div>
                                </div>
                                <div>
                                    <button type='submit' class='btn btn-danger' id='btn_ok'>OK</button>
                                    <button type='button' class='btn btn-danger' id='btn_can'>CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Modal to delete a device -->
        <section>
            <div class='modal fade' id='deldevice'>
                <div class='modal-dialog modal-md'>
                    <div class='modal-content'>
                        <div class='modal-body'>
                            <form class='form-group'>
                                <div class='alert alert-danger' role='warning'>
                                    <strong>Warning! You are about to delete a device. Are you sure ?</strong>
                                </div>
                                <div>
                                    <button type='button' class='btn btn-danger' id='btn_ok'>OK</button>
                                    <button type='button' class='btn btn-danger' id='btn_can'>CANCEL</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal to change password and edit settings -->
        <section>
            <div class='modal fade' id='settings'>
                <div class='modal-dialog modal-md'>
                    <div class='modal-content'>
                        <div class='modal-body'>
                            <form class='form-group'>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>Current Password</label>
                                        <input class='form-control' type="password" name="oldPasswd" placeholder="Enter current password">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>New Password</label>
                                        <input class='form-control' type="password" name="newPasswd" placeholder="Enter new password">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='form-group col-md-8'>
                                        <label class='control-label'>Confirm Password</label>
                                        <input class='form-control' type="password" name="confPasswd" placeholder="Confirm new password">
                                    </div>
                                </div>
                                <div>
                                    <button type='button' class='btn btn-danger' id='btn_ok'>OK</button>
                                    <button type='button' class='btn btn-danger' id='btn_can'>CANCEL</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <!-- Latest compiled and minified CSS -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>
